@model IEnumerable<InfoNameViewModel>
@{
    ViewData["Title"] = "ResultViewSearchStudent";
}

<h1>Sökresultat för studenter i Programmering 1</h1>


<table class="table table-success table-striped table-hover">
    <thead class="table"><br />
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.TFirstName)
                @Html.DisplayNameFor(model => model.TLastName)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFirstName)
                    @Html.DisplayFor(modelItem => item.TLastName)
                </td>
               
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Se alla elever och lärare</a>
</div>

